<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartbudget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartBudget">

        <!-- Tela que será aberta primeiro -->
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outras activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".DespesasActivity" android:exported="true"/>
        <activity android:name=".ReceitasActivity" android:exported="true"/>
        <activity android:name=".BalancoActivity" android:exported="true"/>
        <activity android:name=".AdicionarDespesaActivity" android:exported="true"/>
        <activity android:name=".ExcluirDespesaActivity" android:exported="true"/>
        <activity android:name=".ExcluirReceitaActivity" android:exported="true"/>
        <activity android:name=".AdicionarReceitaActivity" android:exported="true"/>
    </application>
</manifest>
